@media screen and (max-width:480px) { 
     .milk-price{
        width: 100%;
     }
     .about-us ,.franchise-container{
        width: 95%;
     }
     
    /* dung cho dth */
}
@media screen and (max-width:768px) { 
    /* dung cho tablet */
    .header{
        justify-content: space-between;
    }
    .nav , .search{
        display: none;
    }
    .bars{
        display: block;
    }
    .milk-tea{
        width: calc(50% - 30px);

    }
    .home-franchise-img{
        display: none;
    }
}
@media screen and (max-width:1024px) { 
    /* dung cho may tinh */
}
@media screen and (max-width:1280px) { 
    /* dung cho may tinh to hon */
}


