*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
}
.container{
    width: 100%;
    
}
.header{
    width: 100%;
    height: 80px;
    background-color: rgb(46, 46, 46) ;
    display: flex;
    align-items: center;
    justify-content: center;   
    gap: 20px;
    padding: 0 40px; 
    
}
.logo-header{
    width: 200px ;
    height: 49px;  
}
.logo-header img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.nav{
    color: white;
    display: flex;
    align-items: center;
    font-weight: 800;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1;
}
.nav a {
    text-decoration: none;
    color: white;
    font-weight: 800;
}
.select {
    position: relative;
    cursor: pointer;
}
.list-link{
   position: absolute;
   top: 10px;
   left: 10px;
   margin-top: 20px;
   width: fit-content;
   list-style: none;
   background-color: #000000;
   border: 1px solid #63626283;
   cursor: pointer;
   z-index: 10;
   visibility: hidden;
   opacity: 0;
   transition: all linear 0.2s;  
}
.list-link::after{
    width: 0;
    height: 0;
    border-width: 10px;
    border-color: transparent transparent rgb(0, 0, 0) transparent ;
    border-style: solid;
    content:"" ;
    position: absolute;
    top: -20px;
} 

.list-link  li {
    white-space: nowrap;
    width: 100%;
    line-height: 30px;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
}
.list-link li:hover{
    background-color: #4f5761;
    color: #ffffff;
}
.select:hover .list-link {
   visibility: visible;
   opacity: 1;
   transition: all linear 0.2s;
}
.list-link li:hover{
    background-color: #4f5761;
    color: #ffffff;
}
/* css icon */
.icon{
    font-size: 1.1rem;
    color: white;
}
.bars{
    display: none;
}
.middle{
    width: 100%;
    
}
.featured-products{
    font-size: 36px;
    text-align: center;
  
}

.logo-featured{
    display: flex;
    justify-content: center;
    align-items: center;
}
.toco{
    color: #d3b673;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}
.milk-price{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    margin-top: 50px;
    
}
.milk-tea{
    width: calc(25% - 30px);
    height: 350px;
    margin: 0 15px;
    margin-bottom: 32px;
    
}
.milk-tea:hover img{
    transform: scale(1.2);
    transition: all ease-in-out 0.2s;

}
.milk-tea:hover .list-milk-tea{
    margin: 0;
}

.img-milk-tea img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: all ease-in-out 0.2s;
}
.img-milk-tea{
    width: 100%;
    height: 70%;
    overflow: hidden;
}
.description-milk-tea{
    width: 100%;
    height: 30%;
    overflow: hidden;

}
.list-milk-tea > p{
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
}
.list-milk-tea{
    background-color: #e9d9d9 ;
    margin-top: 40px;
    padding: 10px 0;
    transition: all ease-in-out 0.2s;
}

.price{
    font-weight: 700;
    text-align: center;
    padding-bottom: 10px;
    color: #d3b673;
    font-size: 15px;
}

.order {
    width:fit-content;
    color: white;
    background-color: #d3b673;
    cursor: pointer;
    text-align: center;
    opacity: 0.8;
    padding:5px 10px ;
    margin: 0 auto;

}

.order:hover{
    color: #d3b673;
    background-color: #ffffffcc;
    opacity: 1;
}
.more-watch-all{
    
    background-color: #d3b673;
    width: 130px;
    height: 40px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}
.watch-all{
    display: flex;
    justify-content: center;
    padding: 50px 0 60px 0;
    font-size: 16px;
}
.about-us{
    width: 75%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative; 
    margin: 0 auto;
}
.img-about-us{
    width: 100%;
    height: 100%;
}
.img-about-us img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    
}
.text-1{
    color: #d3b673;
    font-size: 25px;
    margin-bottom: 5px;
    font-weight: 700;
    text-align: center;
}
.text-2{
    font-size: 40px;
    text-align: center;
    color: black;
    font-family: 'Baloo Thambi 2', cursive;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 50px;
}
.icon-bottom-title{
    width: 315px;
    height: 30px;
    padding-right: 100px;
}
.description{
    text-align: center;
    margin: 16px 0;
    color: #000000;
}
.home-about-us{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 40px;
    z-index: 2;
    position: absolute;
    width: 50%;
}
.btn-view-all{
    border: 1px solid #d3b673;
    color: #ffffff;
    background-color: #d3b673;
    padding: 8px 16px;
    cursor: pointer;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    display: inline-block;
}
.franchise-container{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px solid #d3b673;
    margin: 50px auto;
    padding: 20px;
}
.home-franchise-title{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    flex: 1;
}
.select-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-franchise-img{
    
    display: flex;
    justify-content: center;
    flex: 1;
}
.home-franchise-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.icon-bottom-title-2{
    text-align: center;
}


